$wrap_width: 100%;
$wrap_height: 100%;

$layout_width: 1100px;

$layout_height_1: 100px;
$layout_height_2: 300px;
$layout_height_3: 500px;

.box
{
    width: $layout_width;
    height: $layout_height_1;
}