@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;800;900&display=swap');
/*
font-family: 'Gothic A1', sans-serif;
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gothic A1', sans-serif;
}

body
{
    background: #eeeeee;
}

#header
{
    position: relative;
    width: 100%;
    height: 160px;
    background: #fff;
    padding: 5px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header_top
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}

.header_left
{
    width: 250px;
}

.logo
{
    display: flex;
}

.logo h1
{
    font-size: 3.4vw;
    background: linear-gradient(to right, #2dc3ff, #0c62c4);
    color: transparent;
    -webkit-background-clip: text;
    font-weight: 900;
    letter-spacing: -4px;
}

.logo span
{
    font-size: 3.1vw;
    background: linear-gradient(to right, #2dc3ff, #0c62c4);
    font-weight: 700;
    color: transparent;
    -webkit-background-clip: text;
}

.header_right ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_right ul li
{
    list-style: none;
    margin: 0 10px;
}

.header_right ul li:nth-child(1)
{
    font-size: 1.3em;
    color: #aaa;
}

.header_right ul li a
{
    color: #aaa;
    text-decoration: none;
}

.header_right ul li a:hover,
.header_right ul li:nth-child(1):hover
{
    color: #555;
}

.header_right ul li button
{
    margin-left: 10px;
    color: #fff;
    background: #0c62c4;
    padding: 10px 20px;
    outline: none;
    border: none;
}

.header_bottom
{

}

.header_bottom ul
{
    display: flex;
}

.header_bottom ul li
{
    list-style: none;
    margin: 0 20px;
}

.header_bottom ul li a
{
    position: relative;
    color: #333;
    text-decoration: none;
}

.header_bottom ul li a:hover
{
    color: #aaa;
}

#contents
{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 150vh;
}

#contents .img
{
    margin: 5px 0;
}

#contents .img img
{
    border-radius: 10px;
}

.board
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board .box
{
    background: #fff;
    width: 25%;
    height: 400px;
    margin: 0 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
}

.board .box .title
{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px;
    border-bottom: 1px solid #ccc;
}

.board .box .title span
{
    font-size: 1.1em;
}

.board .box .title button
{
    padding: 10px 15px;
    outline: none;
    border: none;
    background: #0c62c4;
    color: #fff;
}