@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;800;900&display=swap');
/*
font-family: 'Gothic A1', sans-serif;
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gothic A1', sans-serif;
}

/* layout */

#wrap
{
    width: 100%;
    height: 100%;
}

#wrap_header
{
    width: 100%;
    height: 70px;
}

#wrap_content
{
    width: 100%;
    height: 432px;
}

#wrap_board
{
    width: 100%;
    height: 850px;
}

#wrap_footer
{
    width: 100%;
    height: 80px;
}

/* //layout */


/* wrap_header */
#wrap_header .header
{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    margin: 0 auto;
}

.header .header_logo
{
    display: flex;
    align-items: center;
    margin: 13px 0 0 0;
}

.header .header_logo h1
{
    font-size: 2.5em;
    background: linear-gradient(to right, #2dc3ff, #0c62c4);
    color: transparent;
    -webkit-background-clip: text;
    font-weight: 900;
    letter-spacing: -4px;
    margin-right: 40px;
}

.header .header_logo h1 span
{
    background: linear-gradient(to right, #2dc3ff, #0c62c4);
    font-weight: 700;
    color: transparent;
    -webkit-background-clip: text;
}

.header .header_logo ul
{
    display: flex;
}

.header .header_logo ul li
{
    list-style: none;
    margin-right: 20px;
}

.header .header_logo ul li a.active
{
    color: #0c62c4;
    font-weight: 700;
}

.header .header_logo ul li a
{
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
    font-weight: 300;
}

.header .header_gnb
{
    margin: 20px 0 0 0;    
}

.header .header_gnb ul
{
    display: flex;
}

.header .header_gnb ul li
{
    list-style: none;
    margin-left: 20px;
}

.header .header_gnb ul li:nth-child(1) a
{
    padding: 10px 20px;
    background: #1471db;
    color: #fff;
}  

#header .header_gnb ul li:nth-child(2) a,
#header .header_gnb ul li:nth-child(3) a,
#header .header_gnb ul li:nth-child(4) a
{
    font-size: 1.5em;
}

.header .header_gnb ul li a
{
    text-decoration: none;
    color: #333;
    font-size: 1.1em;
}
/* //wrap_header */

/* wrap_content */
.content
{
    width: 900px;
    margin: 0 auto;
}

.content .content_tit
{
    display: block;
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.content .content_tit p
{
    color: #555;
    letter-spacing: .5px;
    font-size: 20px;
}

.content .content_tit p span
{
    color: #1471db;
    font-weight: 700;
}

.content_board:nth-child(1)
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
}

.content_board:nth-child(2)
{
    margin-bottom: 15px;
}

.box
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    border-radius: 10px;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.2);
    padding: 10px 30px;
    margin: 5px 0;
}

.box .board_thumbnail .img
{
    width: 50px;
    height: 50px;
    border: 1px solid #555;
}
/* //wrap_content */

/* wrap_board */
.board
{
    width: 900px;
    margin: 0 auto;
}

.board .board_tit
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.board .board_tit p
{

    color: #1471db;
    letter-spacing: .5px;
    font-weight: 700;
    font-size: 20px;
}

.board .board_tit a
{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #1471db;
}
/* //wrap_board */

/* footer */
.footer
{
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
}

.footer .footer_tit
{
    margin: 0 30px 0 0;
}

.footer .footer_tit h1
{
    font-size: 2.5em;
    background: linear-gradient(to right, #2dc3ff, #0c62c4);
    color: transparent;
    -webkit-background-clip: text;
    font-weight: 900;
    letter-spacing: -4px;
}

.footer .footer_sns ul
{
    display: flex;
}

.footer .footer_sns ul li
{
    list-style: none;
    margin: 0 15px;
}

.footer .footer_sns ul li a
{
    color: #1471db;
    font-size: 2em;
}
/* //footer */