<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/home/easyui/easyui.css">
    <link rel="stylesheet" type="text/css" href="/css/home/easyui/easyui_icon.css">
    <link rel="stylesheet" type="text/css" href="/css/home/easyui/easyui_color.css">
    <script src="/js/home/easyui/easyui.js" defer></script>
    <script src="/js/home/index.js" defer></script>
    <link rel="stylesheet" href="/css/home/board.css">
    <script type="text/javascript" src="/js/home/easyui/jquery.js"></script>
    <script type="text/javascript" src="/js/home/easyui/jquery_easyui.js"></script>
</head>

<body>
    <div id="wrap">
        <!-- header -->
        <div id="wrap_header">
            <div class="menu">
                <span class="close">
                    <ion-icon name="close-outline"></ion-icon>
                </span>
                <div class="menu_gnb">
                    <div class="menu_gnb_login">
                        <a href="/login">로그인이 필요합니다.</a>
                    </div>
                    <ul>
                        <li class="main_menu active">
                            <div class="main_menu_tit">
                                <span>윤문청답</span>
                                <span>
                                    <ion-icon name="chevron-down-outline"></ion-icon>
                                </span>
                            </div>
                            <ul class="sub_menu">
                                <li><a href="/board_01">윤우진의 질문에 답해주세요.</a></li>
                            </ul>
                        </li>
                        <li class="main_menu">
                            <div class="main_menu_tit">
                                <span>청문윤답</span>
                                <span>
                                    <ion-icon name="chevron-down-outline"></ion-icon>
                                </span>
                            </div>
                            <ul class="sub_menu">
                                <li><a href="/board_02">윤우진이 답해드립니다.</a></li>
                            </ul>
                        </li>
                        <li class="main_menu">
                            <div class="main_menu_tit">
                                <span>인기답</span>
                                <span>
                                    <ion-icon name="chevron-down-outline"></ion-icon>
                                </span>
                            </div>
                            <ul class="sub_menu">
                                <li><a href="/">인기답 보러가기</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header">
                <div class="header_logo">
                    <a href="/">
                        <h1><span>#</span>청년의꿈</h1>
                    </a>
                    <ul>
                        <li><a href="/" class="header_menu">홈</a></li>
                        <li><a href="/board_01" class="header_menu active">윤문청답</a></li>
                        <li><a href="/board_02" class="header_menu">청문윤답</a></li>
                        <li><a href="#" class="header_menu">인기답</a></li>
                    </ul>
                </div>

                <div class="header_gnb">
                    <ul>
                        <li><a href="/login">로그인</a></li>
                        <li><a href="#">
                                <ion-icon name="mail-outline"></ion-icon>
                            </a></li>
                        <li><a href="#">
                                <ion-icon name="grid-outline"></ion-icon>
                            </a></li>
                        <li><a href="#">
                                <ion-icon name="search-outline"></ion-icon>
                            </a></li>
                    </ul>
                    <div class="menubar">
                        <span class="open">
                            <ion-icon name="menu-outline"></ion-icon>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- //header -->

        <!-- board -->
        <div id="wrap_board">
            <div class="board">
                <table id="dg" class="easyui-datagrid" style="width:100%;height:500px"
                    url="get_users.php" toolbar="#toolbar" pagination="true" rownumbers="true" fitColumns="true"
                    singleSelect="true">
                    <thead>
                        <tr>
                            <th field="firstname" width="50">First Name</th>
                            <th field="lastname" width="50">Last Name</th>
                            <th field="phone" width="50">Phone</th>
                            <th field="email" width="50">Email</th>
                        </tr>
                    </thead>
                </table>
                <div id="toolbar">
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true"
                        onclick="newUser()">글쓰기</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true"
                        onclick="editUser()">글 수정</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" plain="true"
                        onclick="destroyUser()">글 삭제</a>
                </div>

                <div id="dlg" class="easyui-dialog" style="width:430px"
                    data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons'">
                    <form id="fm" method="post" novalidate style="margin:0;padding:20px 50px">
                        <h3>User Information</h3>
                        <div style="margin-bottom:10px">
                            <input name="firstname" class="easyui-textbox" required="true" label="First Name:"
                                style="width:100%">
                        </div>
                        <div style="margin-bottom:10px">
                            <input name="lastname" class="easyui-textbox" required="true" label="Last Name:"
                                style="width:100%">
                        </div>
                        <div style="margin-bottom:10px">
                            <input name="phone" class="easyui-textbox" required="true" label="Phone:"
                                style="width:100%">
                        </div>
                        <div style="margin-bottom:10px">
                            <input name="email" class="easyui-textbox" required="true" validType="email" label="Email:"
                                style="width:100%">
                        </div>
                    </form>
                </div>
                <div id="dlg-buttons">
                    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveUser()"
                        style="width:90px">Save</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel"
                        onclick="javascript:$('#dlg').dialog('close')" style="width:90px">Cancel</a>
                </div>
            </div>
        </div>
        <!-- //board -->


        <!-- footer -->
        <div id="wrap_footer">
            <div class="footer">
                <div class="container footer_aboutus">
                    <h2>About Us</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora alias, saepe placeat
                        necessitatibus
                        tempore voluptates suscipit maiores esse. Dolorum cupiditate ab odio exercitationem non quis
                        quam
                        culpa ducimus reprehenderit iusto.</p>
                </div>
                <div class="container footer_info">
                    <ul class="info">
                        <li>
                            <span>
                                <ion-icon name="home-outline"></ion-icon>
                            </span>
                            <span>인천광역시 서구 고산후로 174번길 2<br>Korea</span>
                        </li>
                        <li>
                            <span>
                                <ion-icon name="call-outline"></ion-icon>
                            </span>
                            <p><a href="tel:01054477646">010-5447-7646</a><br>
                                <a href="tel:01054477646">010-5447-7646</a>
                            </p>
                        </li>
                        <li>
                            <span>
                                <ion-icon name="mail-outline"></ion-icon>
                            </span>
                            <p><a href="mailto:gogocha9@naver.com">gogocha9@naver.com</a></p>
                        </li>
                    </ul>
                </div>

                <div class="container footer_sns">
                    <ul>
                        <li><a href="https://ko-kr.facebook.com/">
                                <ion-icon name="logo-facebook"></ion-icon>
                            </a></li>
                        <li><a href="https://twitter.com/i/flow/login">
                                <ion-icon name="logo-twitter"></ion-icon>
                            </a></li>
                        <li><a href="https://www.instagram.com/">
                                <ion-icon name="logo-instagram"></ion-icon>
                            </a></li>
                        <li><a href="https://www.youtube.com/">
                                <ion-icon name="logo-youtube"></ion-icon>
                            </a></li>
                    </ul>
                </div>
            </div>
            <div class="footer_bottom">
                <span>Copyright ⓒ 2021 청년의꿈. All Rights Reserved.</span>
            </div>
        </div>
        <!-- //footer -->
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>