<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home/main.css">
    <script src="/js/home/index.js" defer></script>
</head>

<body>
    <div id="wrap">
        <!-- header -->
        <div id="wrap_header">
            <div class="menu">
                <span class="close">
                    <ion-icon name="close-outline"></ion-icon>
                </span>
                <div class="menu_gnb">
                    <div class="menu_gnb_login">
                        <a href="/login">로그인이 필요합니다.</a>
                    </div>
                    <ul>
                        <li class="main_menu active">
                            <div class="main_menu_tit">
                                <span>윤문청답</span>
                                <span><ion-icon name="chevron-down-outline"></ion-icon></span>
                            </div>
                            <ul class="sub_menu">
                                <li><a href="/board_01">윤우진의 질문에 답해주세요.</a></li>
                            </ul>
                        </li>
                        <li class="main_menu">
                            <div class="main_menu_tit">
                                <span>청문윤답</span>
                                <span><ion-icon name="chevron-down-outline"></ion-icon></span>
                            </div>
                            <ul class="sub_menu">
                                <li><a href="/board_02">윤우진이 답해드립니다.</a></li>
                            </ul>
                        </li>
                        <li class="main_menu">
                            <div class="main_menu_tit">
                                <span>인기답</span>
                                <span><ion-icon name="chevron-down-outline"></ion-icon></span>
                            </div>
                            <ul class="sub_menu">
                                <li><a href="/">인기답 보러가기</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header">
                <div class="header_logo">
                    <a href="/"><h1><span>#</span>청년의꿈</h1></a>
                    <ul>
                        <li><a href="/" class="header_menu active">홈</a></li>
                        <li><a href="/board_01" class="header_menu">윤문청답</a></li>
                        <li><a href="/board_02" class="header_menu">청문윤답</a></li>
                        <li><a href="#" class="header_menu">인기답</a></li> 
                    </ul>
                </div>

                <div class="header_gnb">
                    <ul>
                        <li><ion-icon name="person-circle-outline"></ion-icon></li>
                        <li><a href="#">
                                <ion-icon name="mail-outline"></ion-icon>
                            </a></li>
                        <li><a href="#">
                                <ion-icon name="grid-outline"></ion-icon>
                            </a></li>
                        <li><a href="#">
                                <ion-icon name="search-outline"></ion-icon>
                            </a></li>
                    </ul>
                    <div class="menubar">
                        <span class="open">
                            <ion-icon name="menu-outline"></ion-icon>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- //header -->

        <!-- content -->
        <div id="wrap_content">
            <div class="content">
                <div class="content_tit">
                    <p>지금,<span>인기답</span></p>
                </div>

                <div class="content_board">
                    <div class="box">
                        <div class="board_content">
                            <div class="board_content_title">
                                <span>신기한 에스파 윈터 티저</span>
                            </div>
                            <div class="board_content_writer">
                                <span>홍준표</span>
                            </div>
                        </div>
                        <div class="board_thumbnail">
                            <div class="img"></div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="board_content">
                            <div class="board_content_title">
                                <span>아이유 커스텀 마이크 탐내는 아이유 아빠ㅋㅋㅋㅋ.jpg</span>
                            </div>
                            <div class="board_content_writer">
                                <span>안녕</span>
                            </div>
                        </div>
                        <div class="board_thumbnail">
                            <div class="img"></div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="board_content">
                            <div class="board_content_title">
                                <span>카카오 반팔티에 진심인 사람</span>
                            </div>
                            <div class="board_content_writer">
                                <span>차영현</span>
                            </div>
                        </div>
                        <div class="board_thumbnail">
                            <div class="img"></div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="board_content">
                            <div class="board_content_title">
                                <span>[놀토] 요즘 태연한테 자주 혼나는 멤버.jpgif</span>
                            </div>
                            <div class="board_content_writer">
                                <span>몰라</span>
                            </div>
                        </div>
                        <div class="board_thumbnail">
                            <div class="img"></div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="board_content">
                            <div class="board_content_title">
                                <span>5년전 엄마가 해준 고기조림을 먹겠다는 딸.jpg</span>
                            </div>
                            <div class="board_content_writer">
                                <span>아이유</span>
                            </div>
                        </div>
                        <div class="board_thumbnail">
                            <div class="img"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //content -->

        <!-- board -->
        <div id="wrap_board">
            <div class="board">
                <div class="board_tit">
                    <p><span>윤문청답</span></p>
                    <a href="/board_01">
                        <ion-icon name="add-outline"></ion-icon><span>더보기</span>
                    </a>
                </div>

                <div class="content_board">
                    <div class="box">
                        <div class="board_content">
                            <div class="board_content_title">
                                <span>신기한 에스파 윈터 티저</span>
                            </div>
                            <div class="board_content_writer">
                                <span>홍준표</span>
                            </div>
                        </div>
                        <div class="board_thumbnail">
                            <div class="img"></div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="board_content">
                            <div class="board_content_title">
                                <span>아이유 커스텀 마이크 탐내는 아이유 아빠ㅋㅋㅋㅋ.jpg</span>
                            </div>
                            <div class="board_content_writer">
                                <span>안녕</span>
                            </div>
                        </div>
                        <div class="board_thumbnail">
                            <div class="img"></div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="board_content">
                            <div class="board_content_title">
                                <span>카카오 반팔티에 진심인 사람</span>
                            </div>
                            <div class="board_content_writer">
                                <span>차영현</span>
                            </div>
                        </div>
                        <div class="board_thumbnail">
                            <div class="img"></div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="board_content">
                            <div class="board_content_title">
                                <span>[놀토] 요즘 태연한테 자주 혼나는 멤버.jpgif</span>
                            </div>
                            <div class="board_content_writer">
                                <span>몰라</span>
                            </div>
                        </div>
                        <div class="board_thumbnail">
                            <div class="img"></div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="board_content">
                            <div class="board_content_title">
                                <span>5년전 엄마가 해준 고기조림을 먹겠다는 딸.jpg</span>
                            </div>
                            <div class="board_content_writer">
                                <span>아이유</span>
                            </div>
                        </div>
                        <div class="board_thumbnail">
                            <div class="img"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="board">
                <div class="board_tit">
                    <p><span>청문윤답</span></p>
                    <a href="/board_02">
                        <ion-icon name="add-outline"></ion-icon><span>더보기</span>
                    </a>
                </div>

                <div class="content_board">
                    <div class="box">
                        <div class="board_content">
                            <div class="board_content_title">
                                <span>신기한 에스파 윈터 티저</span>
                            </div>
                            <div class="board_content_writer">
                                <span>홍준표</span>
                            </div>
                        </div>
                        <div class="board_thumbnail">
                            <div class="img"></div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="board_content">
                            <div class="board_content_title">
                                <span>아이유 커스텀 마이크 탐내는 아이유 아빠ㅋㅋㅋㅋ.jpg</span>
                            </div>
                            <div class="board_content_writer">
                                <span>안녕</span>
                            </div>
                        </div>
                        <div class="board_thumbnail">
                            <div class="img"></div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="board_content">
                            <div class="board_content_title">
                                <span>카카오 반팔티에 진심인 사람</span>
                            </div>
                            <div class="board_content_writer">
                                <span>차영현</span>
                            </div>
                        </div>
                        <div class="board_thumbnail">
                            <div class="img"></div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="board_content">
                            <div class="board_content_title">
                                <span>[놀토] 요즘 태연한테 자주 혼나는 멤버.jpgif</span>
                            </div>
                            <div class="board_content_writer">
                                <span>몰라</span>
                            </div>
                        </div>
                        <div class="board_thumbnail">
                            <div class="img"></div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="board_content">
                            <div class="board_content_title">
                                <span>5년전 엄마가 해준 고기조림을 먹겠다는 딸.jpg</span>
                            </div>
                            <div class="board_content_writer">
                                <span>아이유</span>
                            </div>
                        </div>
                        <div class="board_thumbnail">
                            <div class="img"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //board -->

        <!-- footer -->
        <div id="wrap_footer">
            <div class="footer">
                <div class="container footer_aboutus">
                    <h2>About Us</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora alias, saepe placeat
                        necessitatibus
                        tempore voluptates suscipit maiores esse. Dolorum cupiditate ab odio exercitationem non quis
                        quam
                        culpa ducimus reprehenderit iusto.</p>
                </div>
                <div class="container footer_info">
                    <ul class="info">
                        <li>
                            <span>
                                <ion-icon name="home-outline"></ion-icon>
                            </span>
                            <span>인천광역시 서구 고산후로 174번길 2<br>Korea</span>
                        </li>
                        <li>
                            <span>
                                <ion-icon name="call-outline"></ion-icon>
                            </span>
                            <p><a href="tel:01054477646">010-5447-7646</a><br>
                                <a href="tel:01054477646">010-5447-7646</a>
                            </p>
                        </li>
                        <li>
                            <span>
                                <ion-icon name="mail-outline"></ion-icon>
                            </span>
                            <p><a href="mailto:gogocha9@naver.com">gogocha9@naver.com</a></p>
                        </li>
                    </ul>
                </div>

                <div class="container footer_sns">
                    <ul>
                        <li><a href="https://ko-kr.facebook.com/">
                                <ion-icon name="logo-facebook"></ion-icon>
                            </a></li>
                        <li><a href="https://twitter.com/i/flow/login">
                                <ion-icon name="logo-twitter"></ion-icon>
                            </a></li>
                        <li><a href="https://www.instagram.com/">
                                <ion-icon name="logo-instagram"></ion-icon>
                            </a></li>
                        <li><a href="https://www.youtube.com/">
                                <ion-icon name="logo-youtube"></ion-icon>
                            </a></li>
                    </ul>
                </div>
            </div>
            <div class="footer_bottom">
                <span>Copyright ⓒ 2021 청년의꿈. All Rights Reserved.</span>
            </div>
        </div>
        <!-- //footer -->
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>